REACT_APP_SERVER_URL=https://goldenlegend.nervina.cn/api/explorer/v1

REACT_APP_NODE_URL=https://mainnet.ckb.dev

REACT_APP_INDEXER_URL=https://mainnet.ckb.dev/indexer

REACT_APP_UNIPASS_URL=https://unipass.me

REACT_APP_NFT_EXPLORER_URL=https://explorer.nervina.cn

REACT_APP_TEST_NET_URL=https://wallet.staging.nervina.cn

REACT_APP_MAIN_NET_URL=https://wallet.nervina.cn

REACT_APP_CHAIN_TYPE=mainnet

REACT_APP_PW_CODE_HASH=0x124a60cd799e1fbca664196de46b3f7f0ecb7138133dcaea4893c51df5b02be6
