name: 'deploy'

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          branch: 'develop'
          git_remote_url: ${{ secrets.DOKKU_HOST }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          review_app_name: 'wallet'
